@{
    ViewData["Title"] = "Home Page";
}

    <div class="vet-container">
        <div class="centered-top">Ветеринарни услуги</div>
    <img class="vet-img" src="~/images/four paws veterinary clinic.png" width="60" height="50" />">
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card"> 
                <div class="card-body">
                <h5 class="card-title">За първи път ли сте тук </h5>
                <p class="card-text">Получете пълен достъп до здравната информация на вашия домашен любимец:</p>
                <p class="card-text vet-icon"> Електронен медицински паспорт за домашни любимци<</p>
                <p class="card-text vet-icon"> Онлайн среща при ветеринар</p>
                <p class="card-text vet-icon"> Дати на ваксинация</p>
                <p class="card-text">>Създайте профил или се запишете в клиника онлайн</p>

                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Регистрация</a>
                <a href="#" class="btn btn-outline-primary">Списък на клиниките</a>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Вече имате профил?</h5>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                <label for="Phone" class="form-label">Номер на мобилен телефон</label>
                                    @*<input type="tel" class="form-control" asp-for="Phone">*@
                                </div>
                                <div class="mb-3">
                                    <label for="Password" class="form-label">Парола</label>
                                    @*<input type="password" class="form-control" asp-for="Password">*@
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
